.container {
  width: 100%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  cursor: pointer;
}

.numPoke {
  width: 100%;
  text-align: end;
  padding: 1rem;
}

.imgContainer {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  height: 7rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #ecebec;
  display: flex;
  align-items: center;
  justify-content: center;
}